/*
Primary sass file for X.O.F. Patterns
Will eventually have things in it
*/

//COLOR DEFINITIONS
$x1904green: #92c84c;
$x1904grey: #000; //replace this
$x1904copygrey: #444;
$x1904darkgrey: #333;
$foxgold: #ffd200;
$white: #fff;

//PALETTE DEFINITIONS
$primaryLight: $x1904green;
$primaryDark: $x1904darkgrey;
$primaryText: $x1904copygrey;

$huge: 70px;
$large: 20px;
$small: 5px;


//TYPOGRAPHY
p{
  color: $primaryText;
}

a, h1, h2, h3, h4, h5 {
  color: $primaryLight;
}

a {
  &:hover {
    color: $primaryLight;
  }
}
//NAVIGATION
.xof-nav-link {
  color: $primaryLight;
}
.xof-nav {
  line-height: 42px;
}

//GENERICS - MARGIN/PADDING
.brand-logo {
  max-height: 30px;
}
.m-main-container {
  margin-top: $huge;
}
.m-t-lg {
  margin-top: $large;
}

.text-center{
  text-align: center;
  display: inline-block;
}
//GENERICS - LAYOUT
.inline {
  display: inline-block;
}

.xof-footer {
  background: $x1904darkgrey;
  position: absolute;
  bottom: 0;
  height: 40px;
  line-height: 40px;
  width: 100%;
  color: $white;
}
//ANIMATIONS
.spin {
  background: $foxgold;
  animation: spin 3s infinite linear;
}

//KEYFRAMES
//SPIN 360
@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}